<!DOCTYPE html>
<html lang="ES-ES">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <title>Answer</title>
    </head>
<body>
    <%- include("header") %>

    <main>
        <h1><%= question.text %></h1>
        <div>
            <form action="/userAnswer/<%=question.id%>" class="form" method="POST">
                <% answers.forEach(answer => { %>
                    <div class="question">
                        <input type="radio" name="ans" value="<%=answer.text%>"><%=answer.text%>
                    </div>
                <% }); %>

                <div class="question">
                    <label>
                        <input type="radio" name="ans" value="new" checked>
                        Other: <input type="text" name="newAnswer">
                    </label>
                </div>
                <div class="request">
                    <input class="button" type="submit" value="Answer">
                </div>
            </form>
        </div>
    </main>
</body>
</html>