<!DOCTYPE html>
<html lang="ES-ES">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <title>Friends</title>
    </head>
    <body>
        <%- include("header") %>

        <main>
            <h1>Friend Requests</h1>
            <div class="emptycontainer">
                <%friendRequest.forEach (request => { %>
                    <div class="request">
                        <div class="requestleft">
                            <img class="requestpic" src="/userImage/<%= request.email %>" />
                            <div class="friendname"> <a href="/profile/<%=request.email%>"> <%= request.name %> </a></div>
                        </div>

                        <div class="requestright">
                            <form action="acceptFriend" method="POST">
                                <input type="hidden" name="friend" value="<%=request.email%>">
                                <input type="submit" value="Accept">
                            </form>

                            <form action="ignoreFriend" method="POST">
                                <input type="hidden" name="friend" value="<%=request.email%>">
                                <input type="submit" value="Ignore">
                            </form>
                        </div>
                    </div>
                <% }); %>
            </div>

            <h1>Search Friends</h1>
            <div class="emptycontainer">
                <div class="request">
                    <div class="search">Search by name:</div>

                    <form action="search" method="POST" class="searchform">
                        <input type="text" name="search" class="searchinput">       
                        
                        <input type="submit" value="Search" class="button"> 
                    </form>
                        
                </div>
            </div>

            <h1>My Friends</h1>
            <div class="emptycontainer">
                
                <% friends.forEach (friend => { %>
                    <div class="request">
                        <div class="requestleft">
                            <img class="requestpic" src="/userImage/<%= friend.email %>" />
                            <div class="friendname"><a href="/profile/<%=friend.email%>"> <%= friend.name %> </a></div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </main>
    </body>
</html>