<!DOCTYPE html>
<html lang="ES-ES">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <title>Friends</title>
    </head>
    <body>
        <%- include("header") %>

        <main>
            <h1>Friend Requests</h1>
            <div class="emptycontainer">
                <%friendRequest.forEach (request => { %>
                    <div class="searchResults">
                        <div class="requestleft">
                            <a href="/profile/<%=request.email%>"><img class="requestpic" src="/userImage/<%= request.email %>" /></a>
                            <div class="friendname"> <a href="/profile/<%=request.email%>"> <%= request.name %> </a></div>
                        </div>

                        <div class="requestright">
                            <form action="acceptFriend" method="POST">
                                <input type="hidden" name="friend" value="<%=request.email%>">
                                <input type="submit" value="Accept" class="button doubleButton">
                            </form>

                            <form action="ignoreFriend" method="POST">
                                <input type="hidden" name="friend" value="<%=request.email%>">
                                <input type="submit" value="Ignore" class="button">
                            </form>
                        </div>
                    </div>
                <% }); %>
            </div>

            <h1>Search Friends</h1>
            <div class="emptycontainer">
                <form action="search" method="POST" class="search">
                    <div class="searchText"><label>Search by name:</label>
                        <input type="text" name="search" class="searchinput">
                    </div>           
                    <div><input type="submit" value="Search" class="button"></div>
                </form>
            </div>

            <h1>My Friends</h1>
            <div class="emptycontainer">
                
                <% friends.forEach (friend => { %>
                    <div class="searchResults">
                        <div class="requestleft">
                                <a href="/profile/<%=friend.email%>"><img class="requestpic" src="/userImage/<%= friend.email %>" /></a>
                            <div class="friendname"><a href="/profile/<%=friend.email%>"> <%= friend.name %> </a></div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </main>
    </body>
</html>