<!DOCTYPE html>
<html lang="ES-ES">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <title>Profile</title>
    </head>
    <body>
        <%- include("header") %>

        <main>
            <h1>Your profile</h1>
            <div class="emptycontainer">
                <div class="profilecontainer">
                    <img class="profilepic" src="/user/userImage/<%= owner ? "" : user.email %>"/>
                    <div class="profile">
                        <h2> <%= user.name %> </h2>
                        <div> <%= user.age %> </div>
                        <div> <%= user.gender %> </div>
                        <div> <%= user.points %> points </div>
                    </div>
                </div>
            </div>

            <% if(owner) { %>
                <div class="request">
                    <a href="/user/updateProfile" class="button">Update profile</a>
                </div>
                
                <div class="emptycontainer">
                    <form action="/user/addPhoto" method="POST" enctype="multipart/form-data">
                        <div class="upload">
                            <div class="formElem"><input type="file" name="photo" class="input"></div>
                            <div class="formElem"><input type="text" name="description" placeholder="Description" class="input"></div>
                            <div class="formElem"><input class="button" type="submit" value="Upload Photo"></div>
                        </div>            
                    </form>
                </div>

                <% if(typeof errMsg !== 'undefined'){ %>
                    <p class="error"><%=errMsg%></p>
                <% } %> 
            <% } %>
            
            <div class="emptycontainer">
                <h1>Posted Pictures</h1>
                <% photos.forEach(photo => { %>
                    <div class="photoContainer">
                        <p class="photoDescription"><%= photo.description %></p>
                        <div class="postImg">
                            <img class="photo" src="/user/getPhoto/<%= photo.name %>">
                        </div>   
                    </div>            
                <% }); %>
            </div>
        </main>
    </body>
</html>