<!DOCTYPE html>
<html lang="ES-ES">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <title>Profile</title>
    </head>
    <body>
        <%- include("header") %>

        <main>
            <h1>Your profile</h1>
            <div class="emptycontainer">
                <div class="profilecontainer">
                    <img class="profilepic" src="/userImage"/>
                    <div class="profile">
                        <h2> <%= user.name %> </h2>
                        <div> <%= user.age %> </div>
                        <div> <%= user.gender %> </div>
                        <div> <%= user.points %> points </div>
                    </div>
                </div>

                <div class="photos">
                    <% photos.forEach(photo => { %>
                        <div class="photo">
                            <img src="/getPhoto/<%= photo.name %>">
                            <%= photo.description %>
                        </div>
                    <% }); %>
                </div>

                <% if(owner) { %>
                    <div class="profilebutton"><a href="/updateProfile" class="button">Update profile</a></div>
                    
                    <form action="/addPhoto" method="POST" enctype="multipart/form-data">
                        <div class="formElem">
                            <input class="button" type="submit" value="Add Photo">
                            <input type="file" name="photo" class="input">
                            <input type="text" name="description" class="input">
                        </div>            
                    </form>

                    <% if(typeof errMsg !== 'undefined'){ %>
                        <p class="error"><%=errMsg%></p>
                    <% } %> 
                <% } %>
            </div>
        </main>
    </body>
</html>