<!DOCTYPE html>
<html lang="ES-ES">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <title>Question</title>
    </head>
<body>
    <%- include("header") %>
    
    <main>
        <h1> <%= question.text %></h1>
        <div class="emptycontainer">
            <% if(answer) { %>
                <p>Your answer was <%=answer.text%></p>
            <% } else { %>
                <p>You didn't answer this question yet.</p>
                <div class="answerbutton"> 
                    <a href="/answerQuestion/<%=question.id%>" class="button secondarybutton">Answer this question</a> 
                </div>
            <% } %>

            <p>The following friends have answered the question:</p>

            <% friendsAnswers.forEach(fanswer => { %>
                <div class="request">
                    <div class="requestleft">
                        <img class="requestpic" src="/friendImg/<%= fanswer.img %>"/>
                        <div class="friendname"><%= fanswer.name %></div>
                    </div>

                    <div class="requestright">
                        <% if(fanswer.correct == null) { %>
                            <form action="/guess" method="post">
                                <input type="hidden" id="friendEmail" name="friendEmail" value="<%=fanswer.email%>">
                                <input type="hidden" id="questionId" name="questionId" value="<%=question.id%>">
                                <div class="request">
                                    <input class="button" type="submit" value="Guess">
                                </div>
                            </form>
                        <% } else if(fanswer.correct == 1) {%>
                            <div class="sf success">Success</div>
                        <% } else { %>
                            <div class="sf fail">Fail</div>
                        <% } %>
                    </div>
                </div>

            <% }); %>
            
        </div>
    </main>
</body>
</html>