<!DOCTYPE html>
<html lang="ES-ES">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css"/>
        <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
        <title>Search</title>
    </head>
    
    <body>
        <%- include("header") %>

        <main>
            <h1>Results of the search:</h1>

            <div class="emptycontainer">
                <% users.forEach(user => { %>
                    <div class="searchResults">
                        <div class="requestleft">
                            <a href="/user/profile/<%=user.email%>"><img class="requestpic" src="/user/userImage/<%=user.email%>" /></a>
                            <div class="friendname"><a href="/user/profile/<%=user.email%>"><%= user.name %></a></div>
                        </div>

                        <% if(user.email != userEmail) { %>
                            <% if(!user.friend) { %>
                                <div class="requestright">
                                    <form action="/friend/requestFriend" method="POST">
                                        <input type="hidden" name="user" value="<%= user.email %>">
                                        <input type="submit" value="Request friendship" class="button">
                                    </form>
                                </div>
                            <% } else { %>
                                <div class="requestright">
                                    <div class="requestFriend"> <div class="sf success">Friend</div> </div>
                                </div>
                            <% } %>   
                        <% } %>
                    </div>
                <% }); %>
            </div>
        </main>
    </body>
</html>